/*section {*/
/*    background: #ff1b68;*/
/*}*/
body {
    font-family: Montserrat;
}

h1 {
    color: #cccccc;
    font-family: Arial;
}

#product-overview h1{
    background: #ff1b68;
}

.section-title{
    color: #2ddf5c
}
